*.env
Server/email_ids.db
/Server/emails
numpy.docx
Docs/Updated Rule List.docx
data_Phis.py
phishing_urls.db
valid_data.py
Docs/Blueprint.docx
Docs/SPF.docx
Docs/Unusual Sender Addresses.docx
Docs/Updated Sender Analysis Rules.docx
Images/*.png
IP rules.docx
/Docs/Rules/Header
/Docs/Rules/SPF
/Docs/Rules/Unusual Sender Addresses
/Docs/Rules/Updated Sender Analysis Rules
/Docs/Rules/Url/URL Analysis